*{
	margin:0;
	padding:0;
	
	color:#999;
	font-family: sans-serif;
}
.container{
	background-color: #242423;
	max-width: 100%;
	
}
#welcome{
	text-align: center;
	margin:5% 0;
}
header{
	background-color: #242423;
	color:#E5EAFA;
	text-align: center;
	font-size: 30px;
}
.room{
	margin:3% 0;
	text-align: center
}
ul{
	list-style: none;
	text-align: center;
}
.h5{
	color:#BF4E30;
	font-weight: bold;
	text-align:center;
}
hr{
	background-color:#F5CB5C;
}
#roomTwo, #roomThree{
	display: 
}
.col-9{
	margin:0 auto;
}